
/* Resets */
@import '../node_modules/node-normalize-scss/_normalize.scss';

.view {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
}

.airport {
  flex: 1 0 auto;
}
.ontime {
  animation: onTime 0.4s forwards ease;
}

.delay {
  animation: delayed 0.4s forwards ease;
}


/* Animations */
@keyframes delayed {
  0% {
    color: inherit;
  }
  100% {
    color: red;
  }
}

@keyframes onTime {
  0% {
    color: inherit;
  }
  100% {
    color: green;
  }
}
